@import "../../styles/scss/colors";

button {
  background: transparent;
  border: none;
}

#resumeButton {
  display: block;
  width: 150px;
  line-height: 40px;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: $primary-text-color;
  cursor: pointer;
  outline: none;
  font-size: 11px;
  font-weight: 500;
  user-select: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#resumeButton:before,
#resumeButton:after {
  position: absolute;
  content: "";
  transition: all 0.25s;
}

#resumeButton:before {
  border-bottom: 2px solid $primary-text-color;
  border-left: 2px solid $primary-text-color;
  width: 10%;
  height: 33%;
  left: -10px;
  bottom: -10px;
}

#resumeButton:after {
  border-top: 2px solid $primary-text-color;
  border-right: 2px solid $primary-text-color;
  width: 10%;
  height: 33%;
  top: -10px;
  right: -10px;
}

#resumeButton:hover:before {
  width: 112%;
  height: 140%;
}

#resumeButton:hover:after {
  width: 112%;
  height: 140%;
}

@media (max-width: 637px) {
  #resumeButton {
    font-size: 2.4vw;
    line-height: 7vw;
    width: 150px;
  }
}

#download {
  user-select: none;
  letter-spacing: 0.8px;
  border: 1px solid $primary-text-color;
  color: $primary-text-color;
  padding: 5px;
  right: 20px;
  bottom: 20px;
  position: absolute;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
}

@media (max-width: 637px) {
  #download {
    left: 0;
  }
}

@media (max-width: 637px) {
  #resumeImage {
    display: none;
  }
}

@media (max-width: 637px) {
  #resumeImg {
    height: 70% !important;
  }
}

@media (max-width: 637px) {
  #modal {
    height: 40% !important;
  }
}
