@import "../../../../styles/scss/_colors";

p {
  font-weight: 300;
}

h3 {
  text-transform: uppercase;
  font-size: 11px;
}

hr {
  margin: 7px 0;
  opacity: 0.25;
  font-weight: bold;
  border: 0.5px solid darkgrey;
}

li {
  margin-bottom: 5px;
  font-weight: 300;
}

.items {
  cursor: default;
  top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &__inner {
    position: relative;
    z-index: 2;
    width: 483px;
    max-width: 800px;
    height: 550px;
    background: transparent;
  }
  .active {
    z-index: 10;
    top: 0 !important;
    left: 0 !important;
    width: 515px !important;
    height: 590px !important;
  }
  &__layer &__item {
    opacity: 0.94;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    pointer-events: all;
    box-shadow: 0 32px 40px -20px rgba(0, 0, 0, 0.50);
    transition: all 0.2s ease-in-out;
    &:after {
      content: attr(data-title);
      position: absolute;
      line-height: 20px;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: all 0.2s ease;
      opacity: 0;
    }
    &:hover {
      &:after {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__layer:nth-child(1) &__item {
    overflow: hidden;
    $color:  #3f3f3f;// #040c0e;
    top: 120px;
    left: 0px;
    width: 300px;
    height: 300px;
    background: $color;
    &:after {
      top: -23px;
      left: 0;
      color: $color;
    }
  }
  &__layer:nth-child(2) &__item {
    overflow: hidden;
    $color: #ffdf6c; // #a4978e;
    flex-direction: column-reverse;
    top: 330px;
    left: 250px;
    width: 170px;
    height: 160px;
    background: $color;
    &:after {
      bottom: -23px;
      right: 0;
      color: $color;
    }
  }
  &__layer:nth-child(3) &__item {
    overflow: hidden;
    $color: #707070;  //#132226;
    top: 280px;
    left: 30px;
    width: 260px;
    height: 260px;
    background: $color;
    &__active {
      $color: #132226;
      z-index: 1;
      position: absolute;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      top: 0;
      left: 0;
      width: 515px;
      height: 590px;
      background: $color;
      transition: all 0.1s ease-in-out;
      pointer-events: auto;
    }
    &:after {
      bottom: -23px;
      left: 0;
      color: $color;
    }
  }
  &__layer:nth-child(4) &__item {
    overflow: hidden;
    $color: #202020; // #525b56;
    top: 20px;
    left: 240px;
    width: 240px;
    height: 420px;
    background: $color;
    &:after {
      top: -23px;
      right: 0;
      color: darken($color, 9%);
    }
  }
  &__layer:nth-child(5) &__item {
    overflow: hidden;
    $color: #BBBBBB;  // #be9063;
    top: 200px;
    left: 160px;
    width: 160px;
    height: 160px;
    background: $color;
    &:after {
    top: -20px;
    font-weight: bold;
    left: 0;
    right: 0;
    width: 40px;
    height: 20px;
    line-height: 20px;
    margin: auto;
    text-align: center;
      color: darken($color, 12%);
    }
  }
}

@media (max-width: 1100px) {
  .items {
    &__layer &__item {
      transition: none;
    }
    &__layer:nth-child(1) &__item {
      &:after {
        display: none;
      }
    }
    &__layer:nth-child(2) &__item {
      display: none;
    }
  }
}
@media (max-width: 637px) {
  .items {
    touch-action: none;
    height: 100vh;
    &__layer {
    width: 100% !important;
    height: 100% !important;
    top: -50px !important;
    }
    &__layer &__item {
    opacity: 1;
    }
    &__inner {
      max-width: 100vw;
      left: 0px;
      width: 100%;
      height: 100%;
    }  
    .active {
      opacity: 1;
      box-sizing: border-box;
      z-index: 10;
      left: 0 !important;
      width: 100vw !important;
      height: 100vh !important;
      transition: none !important;
      transform: none !important;
      padding-bottom: 40px;
    }
    &__layer:nth-child(1) &__item {
      box-sizing: border-box;
      left: 50%;
      top: 50%;
      transform: translate(-90%, -60%);
      width: 170px;
      height: 180px;
    }
    &__layer:nth-child(2) &__item {
      box-sizing: border-box;
      display: flex;
      left: 50%;
      top: 50%;
      transform: translate(4%, 70%);   
      width: 130px;
      height: 90px;
    }
    &__layer:nth-child(3) &__item {
      box-sizing: border-box;
      left: 50%;
      top: 50%;
      transform: translate(-70%, 0%);
      width: 180px;
      height: 180px;
    }
    &__layer:nth-child(4) &__item {
      box-sizing: border-box;
      left: 50%;
      top: 50%;
      transform: translate(0%, -58%);
      width: 155px;
      height: 280px;
    }
    &__layer:nth-child(5) &__item {
      box-sizing: border-box;
      left: 50% !important;
      top: 50% !important;
      transform: translate(-50%, -50%) !important;
      width: 120px;
      height: 120px;
    }
  }
}

// Cube animations

.side {
  position: absolute;
  width: $size-px;
  height: $size-px;
  background-color: #333;
  opacity: .94;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes rotate {
  0% {
    transform: rotateX(0);
  }
  12.5% {
    transform: rotateY(90deg);
  }
  25% {
    transform: rotateY(270deg);
  }
  37.5% {
    transform: rotateY(270deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  62.5% {
    transform: rotateX(90deg);
  }
  75% {
    transform: rotateX(180deg);
  }
  87.5% {
    transform: rotateX(270deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
