//text colors
$primary-text-color: #202020;
$secondary-text-color: white;
$grey-text-color: #707070;

//background colors
$primary-background-color: grey;
$grey-background-color: #707070;

//cube size
$size-px: 75px;