$text-color-black: #221e41;

#aboutMe {
  font-weight: bold;
  margin: 0;
  font-size: 80px;
  color: $text-color-black;
}

@media (max-width: 637px) {
  #aboutMe {
    margin-top: 20px;
    font-size: 40px;
  }
}

#intro {
  color: #61677c;
  font-weight: 300;
  margin: 0;
  font-size: 26px;
  user-select: none;
  cursor: default;
}

@media (max-width: 637px) {
  #intro {
    margin-top: 10px;
    font-size: 21px;
  }
}

#paragraph {
  color: black;
  font-weight: 300;
  margin: 0;
  font-size: 20px;
  white-space: normal;
  user-select: none;
  cursor: default;
  color: $text-color-black;
}

@media (max-width: 637px) {
  #paragraph {
    margin-top: 10px;
    font-size: 16px;
  }
}

@media (max-width: 637px) {
  .about {
    width: 85% !important;
    height: 85% !important;
  }
}

@media (max-width: 637px) {
  .sections {
    margin: 0px 0px 160px !important;
  }
}

@media (max-width: 637px) {
  .sections.resume {
    margin: 0px !important;
  }
}
