$text-color-black: #221e41;

#aboutMe {
  font-weight: bold;
  margin: 0;
  font-size: 80px;
  color: $text-color-black;
}

#intro {
  color: #61677c;
  font-weight: 300;
  margin: 0;
  font-size: 26px;
  user-select: none;
  cursor: default;
}

#paragraph {
  color: black;
  font-weight: 300;
  margin: 0;
  font-size: 20px;
  white-space: normal;
  user-select: none;
  cursor: default;
  color: $text-color-black;
}
