@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #e9f0fb;
}

header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  top: 30px;
  right: 0;
  margin: auto;
  width: 90%;
  height: 50px;
  z-index: 10;
}

aside {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  bottom: 40%;
  right: 0;
  left: 20px;
  width: 90%;
  height: auto;
  font-weight: 300;
  margin: auto;
  font-size: 40px;
  z-index: 0;
}

.title {
  margin: 0 0 20px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.description {
  white-space: normal;
  font-size: 17px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#designer {
  width: 280px;
}

#coder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 280px;
}

h1 {
  margin: 0 10px 0 10px;
  font-weight: 200;
  padding: 0;
  font-size: 18px;
  pointer-events: none;
  white-space: nowrap;
}

a {
  margin: 0 10px 0 10px;
  font-weight: 200;
  padding: 0;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  color: black;
}

p {
  font-weight: 200;
  font-size: 11px;
  margin: 0 20px 0 20px;
  padding: 0;
  white-space: nowrap;
}

@media (max-width: 800px) {
  p,
  span {
    display: none;
  }
}

.information-container,
.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 800px) {
  .contact-container {
    position: absolute;
    top: 78vh;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.card4Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  cursor: default;
}

.card4top {
  display: none;
  margin-top: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card5top {
  display: none;
  margin-top: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card5bottom {
  display: none;
  margin-bottom: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card4bottom {
  display: none;
  margin-bottom: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#card4bottomContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
}

#previousWorkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#name {
  color: black;
}

#profession {
  color: #61677c;
}

.colorPalette {
  position: absolute;
  width: 80vw;
  height: 80vh;
  top: 0;
  z-index: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 0 320px 100px 320px;
}

.colorPalette.active {
  background: linear-gradient(-45deg, #132226, #525b56, #a4978e, #be9063);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.items__inner {
  z-index: 2;
  top: 20px;
  left: -5px;
  position: relative;
  width: 550px;
  max-width: 800px;
  height: 620px;
  background: transparent;
}

.items__layer .items__item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: all;
  -webkit-box-shadow: 0 32px 40px -20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 32px 40px -20px rgba(0, 0, 0, 0.25);
}

.items__layer .items__item:after {
  content: attr(data-title);
  position: absolute;
  line-height: 20px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
}

.items__layer .items__item:hover:after {
  visibility: visible;
  opacity: 1;
}

.items__layer:nth-child(1) .items__item {
  top: 120px;
  left: 0px;
  width: 340px;
  height: 340px;
  background: #040c0e;
}

.items__layer:nth-child(1) .items__item:after {
  top: -23px;
  left: 0;
  color: #040c0e;
}

.items__layer:nth-child(2) .items__item {
  top: 360px;
  left: 280px;
  width: 210px;
  height: 200px;
  background: #a4978e;
}

.items__layer:nth-child(2) .items__item:after {
  bottom: -23px;
  right: 0;
  color: #a4978e;
}

.items__layer:nth-child(3) .items__item {
  top: 320px;
  left: 40px;
  width: 300px;
  height: 300px;
  background: #132226;
}

.items__layer:nth-child(3) .items__item:after {
  bottom: -23px;
  left: 0;
  color: #132226;
}

.items__layer:nth-child(4) .items__item {
  top: 10px;
  left: 280px;
  width: 270px;
  height: 480px;
  background: #525b56;
}

.items__layer:nth-child(4) .items__item:after {
  top: -23px;
  right: 0;
  color: #3c433f;
}

.items__layer:nth-child(5) .items__item {
  top: 210px;
  left: 180px;
  width: 200px;
  height: 200px;
  background: #be9063;
}

.items__layer:nth-child(5) .items__item:after {
  top: -220px;
  font-weight: bold;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: auto;
  text-align: center;
  color: #a17143;
}

@media (max-width: 800px) {
  .items {
    width: 100%;
    height: 100vh;
  }
  .items__inner {
    width: 500px;
    height: 480px;
  }
  .items__layer:nth-child(1) .items__item {
    width: 42vw;
    height: 25vh;
    left: 14vw;
    top: 10vh;
  }
  .items__layer:nth-child(2) .items__item {
    width: 29vw;
    height: 10vh;
    top: 40vh;
    left: 57vw;
  }
  .items__layer:nth-child(3) .items__item {
    width: 50vw;
    height: 21vh;
    left: 24vw;
    top: 25vh;
  }
  .items__layer:nth-child(4) .items__item {
    left: 54vw;
    width: 44vw;
    height: 37vh;
  }
  .items__layer:nth-child(5) .items__item {
    width: 35vw;
    height: 16vh;
    top: 17vh;
    left: 37vw;
  }
  .items__layer:nth-child(5) .items__item:after {
    top: -150px;
  }
}

::-moz-selection {
  background: rgba(170, 170, 170, 0.3);
}

::selection {
  background: rgba(170, 170, 170, 0.3);
}

.aboutMe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin: 110px 0 0 30px;
  font-size: 17px;
  left: 0px;
  width: 900px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.aboutMe-container > div {
  overflow: hidden;
}

.aboutMe-container > div > p {
  width: 900px;
  margin: 0;
  line-height: 117%;
}

.green {
  color: #32c267;
}

div.aboutMe-container > div {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

div.aboutMe-container > div:nth-child(2) > p {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

div.aboutMe-container > div {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

div.aboutMe-container > div:nth-child(3) > p {
  -webkit-animation-delay: 0.075s;
  animation-delay: 0.075s;
}

.slide-up {
  -webkit-animation: slide-up 0.3s cubic-bezier(0.65, 0, 0.35, 1) both;
  animation: slide-up 0.3s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.content {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 9%;
  right: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  overflow: hidden;
  font-size: 50px;
  line-height: 40px;
  color: black;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 60px;
  padding: 0 50px;
}

.content__container:before {
  content: "<";
  left: 0;
}

.content__container:after {
  content: ">";
  position: absolute;
  right: 0;
}

.content__container:after,
.content__container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 60px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 1px;
  padding: 0;
  text-align: center;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 50px;
  margin: 0;
}
/*# sourceMappingURL=app.css.map */
