$background-color: #e9f0fb;
$text-color-black: #221e41;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 100px;
  z-index: 10;
}

.title1 {
  width: 100%;
  margin: 0 0 20px 0;
  user-select: none;
  cursor: default;
  color: $text-color-black;
}

.title2 {
  width: 100%;
  margin: 0 0 20px 0;
  user-select: none;
  cursor: pointer;
  color: $text-color-black;
  &:before {
    content: "<";
    left: 0;
  }
  &:after {
    content: ">";
    right: 0;
  }
}

@media (max-width: 1250px) {
  .title1,
  .title2 {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  .title1,
  .title2 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}

.description {
  white-space: normal;
  margin: 0;
  font-size: 17px;

  user-select: none;
  cursor: default;
  color: $text-color-black;
}

@media (min-width: 1250px) {
  .description {
    font-size: 15px;
  }
}

@media (max-width: 1250px) {
  .description {
    font-size: 15px;
  }
}

@media (max-width: 1250px) {
  .description {
    margin: 0 50px;
  }
}

@media (max-width: 1100px) {
  .description {
    margin: 0;
    padding-left: 70px;
    width: 267px;
  }
}

@media (max-width: 900px) {
  .description {
    display: none;
  }
}

#designer {
  width: 280px;
}

@media (max-width: 1100px) {
  #designer {
    position: absolute;
    width: 280px;
    bottom: 260px;
    right: 55vw;
  }
}

@media (max-width: 900px) {
  #designer {
    bottom: 270px;
    right: 49vw;
  }
}

#coder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
}

@media (max-width: 1100px) {
  #coder {
    position: absolute;
    height: 130px;
    left: 46vw;
    top: 110px;
  }
}

@media (max-width: 900px) {
  #coder {
    left: 51vw;
    top: 155px;
  }
}

h1 {
  margin: 0 10px 0 10px;
  font-weight: 200;
  padding: 0;
  font-size: 18px;
  pointer-events: none;
  white-space: nowrap;
}

a {
  margin: 0 10px 0 10px;
  font-weight: 200;
  padding: 0;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  color: black;
}

p {
  font-weight: 200;
  font-size: 11px;
  margin: 0 20px 0 20px;
  padding: 0;
  white-space: nowrap;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.box {
  padding: 50px;
  margin: 20px 0;
}

.box span {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
}
