.cardContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

@media (max-width: 637px) {
  .cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.card-top {
  display: none;
  margin-top: 8px;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: flex-start;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1250px) {
  .card-top {
    font-size: 9px;
  }
}

@media (max-width: 637px) {
  .card-top {
    margin: 0;
    font-size: 10px;
  }
}

.card-top-left {
  display: none;
  margin-top: 8px;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1250px) {
  .card-top-left {
    font-size: 9px;
    width: 100%;
  }
}

@media (max-width: 637px) {
  .card-top-left {
    align-items: flex-start;
    font-size: 10px;
    margin-top: 0;
  }
}

.card-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 1250px) {
  .card-bottom-container {
    align-items: center;
  }
}

@media (max-width: 637px) {
  .card-bottom-container {
    height: 70%;
    width: 290px;
    align-items: flex-start;
  }
}

@media (max-width: 637px) {
  .card-bottom-container.four {
    width: 40%;
    height: 100%;
  }
}

@media (max-width: 637px) {
  .card-bottom-container.three {
    flex-direction: column-reverse;
    margin: 0 20px 0 20px;
  }
}

.card-top-container {
  width: 100%;
}

@media (max-width: 637px) {
  .card-top-container {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 637px) {
  .card-top-container.four {
    width: 40%;
  }
}

@media (max-width: 637px) {
  .card-top.two {
    margin-bottom: 10px;
  }
}

.card-bottom {
  display: none;
  margin-bottom: 8px;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: flex-end;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1250px) {
  .card-bottom {
    width: 100%;
    align-items: flex-end;
    font-size: 9px;
  }
}

@media (max-width: 637px) {
  .card-bottom {
    margin: 0;
    font-size: 10px;
  }
}

@media (max-width: 637px) {
  .card-bottom.three {
    align-items: flex-start;
  }
}

@media (max-width: 1100px) {
  #password,
  #email {
    text-transform: lowercase;
    font-size: 11px;
  }
}

@media (max-width: 1250px) {
  #email {
    margin-left: 78px;
  }
}

@media (max-width: 1250px) {
  #password {
    margin-left: 114px;
  }
}

@media (max-width: 637px) {
  #password {
    margin-bottom: 15px;
  }
}

.card-bottom-center {
  display: none;
  margin-bottom: 8px;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 637px) {
  .card-bottom-center {
    font-size: 10px;
    margin: 0;
    width: 100%;
    align-items: flex-start;
  }
}

@media (max-width: 637px) {
  #credentials {
    text-align: center;
  }
}

@media (max-width: 637px) {
  #aFrame {
    text-align: center;
  }
}

@media (max-width: 637px) {
  #interactiveDesign {
    width: 100px;
  }
}

#designedForBands {
  margin-top: 10px;
  white-space: normal;
}

@media (max-width: 637px) {
  #designedForBands {
    white-space: normal;
  }
}

@media (max-width: 637px) {
  #previousContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -5px;
  }
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &__inner {
    z-index: 2;
    top: 20px;
    left: -5px;
    position: relative;
    width: 550px;
    max-width: 800px;
    height: 620px;
    background: transparent;
  }
  &__layer &__item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    box-shadow: 0 32px 40px -20px rgba(0, 0, 0, 0.25);
    &:after {
      content: attr(data-title);
      position: absolute;
      line-height: 20px;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: all 0.5s ease;
      visibility: hidden;
      opacity: 0;
    }
    &:hover {
      &:after {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__layer:nth-child(1) &__item {
    $color: #040c0e;
    top: 120px;
    left: 0px;
    width: 340px;
    height: 340px;
    background: $color;
    &:after {
      top: -23px;
      left: 0;
      color: $color;
    }
  }
  &__layer:nth-child(2) &__item {
    $color: #a4978e;
    top: 360px;
    left: 280px;
    width: 210px;
    height: 200px;
    background: $color;
    &:after {
      bottom: -23px;
      right: 0;
      color: $color;
    }
  }
  &__layer:nth-child(3) &__item {
    $color: #132226;
    top: 320px;
    left: 40px;
    width: 300px;
    height: 300px;
    background: $color;
    &:after {
      bottom: -23px;
      left: 0;
      color: $color;
    }
  }
  &__layer:nth-child(4) &__item {
    $color: #525b56;
    top: 10px;
    left: 280px;
    width: 270px;
    height: 480px;
    background: $color;
    &:after {
      top: -23px;
      right: 0;
      color: darken($color, 9%);
    }
  }
  &__layer:nth-child(5) &__item {
    $color: #be9063;
    top: 210px;
    left: 180px;
    width: 200px;
    height: 200px;
    background: $color;
    &:after {
      top: -220px;
      font-weight: bold;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
      line-height: 20px;
      margin: auto;
      text-align: center;
      color: darken($color, 12%);
    }
  }
}

@media (max-width: 1250px) {
  .items {
    width: 100%;
    height: 100vh;
    &__inner {
      top: 20px;
      left: 0;
      width: 550px;
      max-width: 800px;
      height: 620px;
      z-index: 2;
    }
    &__layer:nth-child(1) &__item {
      top: 120px;
      left: 0px;
      width: 29vw;
      height: 340px;
    }
    &__layer:nth-child(2) &__item {
      top: 360px;
      left: 280px;
      width: 16vw;
      height: 200px;
    }
    &__layer:nth-child(3) &__item {
      top: 320px;
      left: 40px;
      width: 25vw;
      height: 300px;
    }
    &__layer:nth-child(4) &__item {
      top: 10px;
      left: 280px;
      width: 22vw;
      height: 480px;
    }
    &__layer:nth-child(5) &__item {
      top: 210px;
      left: 180px;
      width: 200px;
      height: 200px;
    }
  }
}

@media (max-width: 1100px) {
  .items {
    width: 100%;
    height: 100vh;

    &__inner {
      top: 20px;
      left: 0;
      width: 550px;
      max-width: 800px;
      height: 620px;
    }
    &__layer:nth-child(1) &__item {
      top: 120px;
      left: 0px;
      width: 302px;
      height: 340px;
    }
    &__layer:nth-child(2) &__item {
      display: none;
    }
    &__layer:nth-child(3) &__item {
      top: 293px;
      left: 40px;
      width: 240px;
      height: 300px;
    }
    &__layer:nth-child(4) &__item {
      top: 20px;
      left: 280px;
      width: 255px;
      height: 450px;
    }
    &__layer:nth-child(5) &__item {
      top: 210px;
      left: 180px;
      width: 200px;
      height: 200px;
    }
  }
}

@media (max-width: 637px) {
  .items {
    position: relative;
    top: 70px;
    width: 86%;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    &__inner {
      top: 0;
      left: 0;
      width: 100%;
      height: 620px;
    }
    &__layer:nth-child(1) &__item {
      top: 270px;
      left: 0;
      width: 100%;
      height: 110px;
    }
    &__layer:nth-child(2) &__item {
      display: none;
    }
    &__layer:nth-child(3) &__item {
      top: 400px;
      left: 0;
      width: 100%;
      height: 110px;
    }
    &__layer:nth-child(4) &__item {
      top: 140px;
      left: 0;
      width: 100%;
      height: 110px;
    }
    &__layer:nth-child(5) &__item {
      top: 10px;
      left: 0;
      width: 100%;
      height: 110px;
    }
  }
}
