$text-color-black: #221e41;

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 100px;
  z-index: 10;
}

@media (max-width: 637px) {
  header {
    height: 60px;
  }
}

#linkedin,
#github,
#contact {
  user-select: none;
  height: 100%;
  user-select: none;
  color: #221e41;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 0;
  outline: none;
}

.information-container,
.contact-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#name {
  user-select: none;
  color: $text-color-black;
}

#profession {
  user-select: none;
  color: #61677c;
}

@media (max-width: 750px) {
  #profession {
    display: none;
  }
}
