/* line 4, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
html {
  scroll-behavior: smooth;
}

/* line 8, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #e9f0fb;
}

/* line 14, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 100px;
  z-index: 10;
}

/* line 28, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
aside {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  bottom: 40%;
  right: 0;
  left: 0;
  width: 90%;
  height: auto;
  font-weight: 300;
  margin: auto;
  font-size: 40px;
  z-index: 0;
}

/* line 45, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
.title1 {
  width: 100%;
  margin: 0 0 20px 0;
  user-select: none;
  cursor: default;
  color: #221e41;
}

/* line 53, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
.title2 {
  width: 100%;
  margin: 0 0 20px 0;
  user-select: none;
  cursor: pointer;
  color: #221e41;
}

/* line 59, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
.title2:before {
  content: "<";
  left: 0;
}

/* line 63, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
.title2:after {
  content: ">";
  right: 0;
}

/* line 69, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
.description {
  white-space: normal;
  font-size: 17px;
  margin: 0;
  user-select: none;
  cursor: default;
  color: #221e41;
}

/* line 78, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
#designer {
  width: 280px;
}

/* line 82, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
#coder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
}

/* line 89, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
h1 {
  margin: 0 10px 0 10px;
  font-weight: 200;
  padding: 0;
  font-size: 18px;
  pointer-events: none;
  white-space: nowrap;
}

/* line 98, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
a {
  margin: 0 10px 0 10px;
  font-weight: 200;
  padding: 0;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  color: black;
}

/* line 109, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
p {
  font-weight: 200;
  font-size: 11px;
  margin: 0 20px 0 20px;
  padding: 0;
  white-space: nowrap;
}

/* line 117, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

/* line 125, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* line 131, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
.box {
  padding: 50px;
  margin: 20px 0;
}

/* line 136, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/app.scss */
.box span {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
}

/*# sourceMappingURL=app.css.map */