@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
/* line 1, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
aside {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  bottom: 40%;
  right: 0;
  left: 0;
  height: auto;
  font-weight: 300;
  margin: auto;
  z-index: 0;
}

@media (min-width: 1250px) {
  /* line 17, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
  aside {
    width: 90%;
    font-size: 40px;
  }
}

@media (max-width: 1250px) {
  /* line 24, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
  aside {
    width: 100%;
    font-size: 30px;
  }
}

/* line 30, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
.colorPalette {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

/* line 39, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
.colorPalette.active {
  background: linear-gradient(-45deg, #132226, #525b56, #a4978e, #be9063);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* line 58, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
::-moz-selection {
  background: rgba(170, 170, 170, 0.3);
}

/* line 62, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
::selection {
  background: rgba(170, 170, 170, 0.3);
}

/* line 66, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
.content {
  user-select: none;
  cursor: default;
  display: flex;
  position: absolute;
  top: 120%;
  right: 25px;
  align-items: center;
  height: 20px;
  overflow: visible;
  font-size: 20px;
  line-height: 40px;
  color: black;
  justify-content: center;
  background-color: transparent;
}

/* line 82, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 20px;
  padding: 0 50px;
}

/* line 88, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
.content__container:before {
  content: "[";
  right: 240px;
}

/* line 93, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
.content__container:after {
  content: "]";
  position: absolute;
  right: 25px;
}

/* line 99, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
.content__container:after, .content__container:before {
  position: absolute;
  bottom: -9px;
  font-weight: bold;
  color: #525b56;
  font-size: 20px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* line 116, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
.content__container__text {
  position: absolute;
  display: inline;
  right: 147px;
  float: left;
  margin: 0;
  font-size: 17px;
}

/* line 125, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
.content__container__list {
  margin-top: 44px;
  padding: 0;
  text-align: center;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}

/* line 138, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
.content__container__list__item {
  display: flex;
  line-height: 50px;
  padding-bottom: 10px;
  justify-content: flex-start;
}

@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {
  0%,
  0.16%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  4.16%,
  4.32% {
    transform: translate3d(0, -7.69%, 0);
  }
  8.32%,
  8.48% {
    transform: translate3d(0, -15.38%, 0);
  }
  12.48%,
  12.64% {
    transform: translate3d(0, -23.07%, 0);
  }
  16.64%,
  16.80% {
    transform: translate3d(0, -30.76%, 0);
  }
  20.80%,
  20.96% {
    transform: translate3d(0, -38.45%, 0);
  }
  24.96%,
  25.12% {
    transform: translate3d(0, -46.14%, 0);
  }
  29.12%,
  29.28% {
    transform: translate3d(0, -53.83%, 0);
  }
  33.28%,
  33.44% {
    transform: translate3d(0, -61.52%, 0);
  }
  37.44%,
  37.60% {
    transform: translate3d(0, -69.21%, 0);
  }
  41.60%,
  41.76% {
    transform: translate3d(0, -76.9%, 0);
  }
  45.76%,
  45.92% {
    transform: translate3d(0, -84.59%, 0);
  }
  49.92%,
  50.08% {
    transform: translate3d(0, -92.28, 0);
  }
  54.08%,
  54.24% {
    transform: translate3d(0, -84.59%, 0);
  }
  58.24%,
  58.40% {
    transform: translate3d(0, -76.9%, 0);
  }
  62.4%,
  62.56% {
    transform: translate3d(0, -69.21%, 0);
  }
  66.56%,
  66.72% {
    transform: translate3d(0, -61.52%, 0);
  }
  70.72%,
  70.88% {
    transform: translate3d(0, -53.83, 0);
  }
  74.86%,
  75.04% {
    transform: translate3d(0, -46.14%, 0);
  }
  79.20%,
  79.18% {
    transform: translate3d(0, -38.45%, 0);
  }
  83.18%,
  83.36% {
    transform: translate3d(0, -30.76%, 0);
  }
  87.34%,
  87.52% {
    transform: translate3d(0, -23.07%, 0);
  }
  91.50%,
  91.68% {
    transform: translate3d(0, -15.38%, 0);
  }
  95.66%,
  95.84% {
    transform: translate3d(0, -7.69%, 0);
  }
}

@-o-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes change {
  0%,
  0.16%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  4.16%,
  4.32% {
    transform: translate3d(0, -7.69%, 0);
  }
  8.32%,
  8.48% {
    transform: translate3d(0, -15.38%, 0);
  }
  12.48%,
  12.64% {
    transform: translate3d(0, -23.07%, 0);
  }
  16.64%,
  16.80% {
    transform: translate3d(0, -30.76%, 0);
  }
  20.80%,
  20.96% {
    transform: translate3d(0, -38.45%, 0);
  }
  24.96%,
  25.12% {
    transform: translate3d(0, -46.14%, 0);
  }
  29.12%,
  29.28% {
    transform: translate3d(0, -53.83%, 0);
  }
  33.28%,
  33.44% {
    transform: translate3d(0, -61.52%, 0);
  }
  37.44%,
  37.60% {
    transform: translate3d(0, -69.21%, 0);
  }
  41.60%,
  41.76% {
    transform: translate3d(0, -76.9%, 0);
  }
  45.76%,
  45.92% {
    transform: translate3d(0, -84.59%, 0);
  }
  49.92%,
  50.08% {
    transform: translate3d(0, -92.28, 0);
  }
  54.08%,
  54.24% {
    transform: translate3d(0, -84.59%, 0);
  }
  58.24%,
  58.40% {
    transform: translate3d(0, -76.9%, 0);
  }
  62.4%,
  62.56% {
    transform: translate3d(0, -69.21%, 0);
  }
  66.56%,
  66.72% {
    transform: translate3d(0, -61.52%, 0);
  }
  70.72%,
  70.88% {
    transform: translate3d(0, -53.83, 0);
  }
  74.86%,
  75.04% {
    transform: translate3d(0, -46.14%, 0);
  }
  79.20%,
  79.18% {
    transform: translate3d(0, -38.45%, 0);
  }
  83.18%,
  83.36% {
    transform: translate3d(0, -30.76%, 0);
  }
  87.34%,
  87.52% {
    transform: translate3d(0, -23.07%, 0);
  }
  91.50%,
  91.68% {
    transform: translate3d(0, -15.38%, 0);
  }
  95.66%,
  95.84% {
    transform: translate3d(0, -7.69%, 0);
  }
}

@-moz-keyframes opacity {
  0%,
  0.16%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  4.16%,
  4.32% {
    transform: translate3d(0, -7.69%, 0);
  }
  8.32%,
  8.48% {
    transform: translate3d(0, -15.38%, 0);
  }
  12.48%,
  12.64% {
    transform: translate3d(0, -23.07%, 0);
  }
  16.64%,
  16.80% {
    transform: translate3d(0, -30.76%, 0);
  }
  20.80%,
  20.96% {
    transform: translate3d(0, -38.45%, 0);
  }
  24.96%,
  25.12% {
    transform: translate3d(0, -46.14%, 0);
  }
  29.12%,
  29.28% {
    transform: translate3d(0, -53.83%, 0);
  }
  33.28%,
  33.44% {
    transform: translate3d(0, -61.52%, 0);
  }
  37.44%,
  37.60% {
    transform: translate3d(0, -69.21%, 0);
  }
  41.60%,
  41.76% {
    transform: translate3d(0, -76.9%, 0);
  }
  45.76%,
  45.92% {
    transform: translate3d(0, -84.59%, 0);
  }
  49.92%,
  50.08% {
    transform: translate3d(0, -92.28, 0);
  }
  54.08%,
  54.24% {
    transform: translate3d(0, -84.59%, 0);
  }
  58.24%,
  58.40% {
    transform: translate3d(0, -76.9%, 0);
  }
  62.4%,
  62.56% {
    transform: translate3d(0, -69.21%, 0);
  }
  66.56%,
  66.72% {
    transform: translate3d(0, -61.52%, 0);
  }
  70.72%,
  70.88% {
    transform: translate3d(0, -53.83, 0);
  }
  74.86%,
  75.04% {
    transform: translate3d(0, -46.14%, 0);
  }
  79.20%,
  79.18% {
    transform: translate3d(0, -38.45%, 0);
  }
  83.18%,
  83.36% {
    transform: translate3d(0, -30.76%, 0);
  }
  87.34%,
  87.52% {
    transform: translate3d(0, -23.07%, 0);
  }
  91.50%,
  91.68% {
    transform: translate3d(0, -15.38%, 0);
  }
  95.66%,
  95.84% {
    transform: translate3d(0, -7.69%, 0);
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%,
  0.16%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  4.16%,
  4.32% {
    transform: translate3d(0, -7.69%, 0);
  }
  8.32%,
  8.48% {
    transform: translate3d(0, -15.38%, 0);
  }
  12.48%,
  12.64% {
    transform: translate3d(0, -23.07%, 0);
  }
  16.64%,
  16.80% {
    transform: translate3d(0, -30.76%, 0);
  }
  20.80%,
  20.96% {
    transform: translate3d(0, -38.45%, 0);
  }
  24.96%,
  25.12% {
    transform: translate3d(0, -46.14%, 0);
  }
  29.12%,
  29.28% {
    transform: translate3d(0, -53.83%, 0);
  }
  33.28%,
  33.44% {
    transform: translate3d(0, -61.52%, 0);
  }
  37.44%,
  37.60% {
    transform: translate3d(0, -69.21%, 0);
  }
  41.60%,
  41.76% {
    transform: translate3d(0, -76.9%, 0);
  }
  45.76%,
  45.92% {
    transform: translate3d(0, -84.59%, 0);
  }
  49.92%,
  50.08% {
    transform: translate3d(0, -92.28, 0);
  }
  54.08%,
  54.24% {
    transform: translate3d(0, -84.59%, 0);
  }
  58.24%,
  58.40% {
    transform: translate3d(0, -76.9%, 0);
  }
  62.4%,
  62.56% {
    transform: translate3d(0, -69.21%, 0);
  }
  66.56%,
  66.72% {
    transform: translate3d(0, -61.52%, 0);
  }
  70.72%,
  70.88% {
    transform: translate3d(0, -53.83, 0);
  }
  74.86%,
  75.04% {
    transform: translate3d(0, -46.14%, 0);
  }
  79.20%,
  79.18% {
    transform: translate3d(0, -38.45%, 0);
  }
  83.18%,
  83.36% {
    transform: translate3d(0, -30.76%, 0);
  }
  87.34%,
  87.52% {
    transform: translate3d(0, -23.07%, 0);
  }
  91.50%,
  91.68% {
    transform: translate3d(0, -15.38%, 0);
  }
  95.66%,
  95.84% {
    transform: translate3d(0, -7.69%, 0);
  }
}

@media (max-width: 1250px) {
  /* line 579, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
  .content {
    width: 280px;
    left: 75vw;
  }
  /* line 583, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
  .content__container__list {
    margin-left: 90px;
  }
  /* line 586, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
  .content__container:before {
    right: 240px;
  }
  /* line 590, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
  .content__container:after {
    position: absolute;
    right: 35px;
  }
}

@media (max-width: 1150px) {
  /* line 599, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
  .content {
    left: 74vw;
  }
}

@media (max-width: 1100px) {
  /* line 605, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
  .content {
    top: 230px;
    left: 52vw;
    width: 245px;
    font-size: 16px;
  }
  /* line 610, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
  .content__container {
    padding: 0;
  }
  /* line 614, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
  .content__container:before {
    right: 205px;
  }
  /* line 618, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
  .content__container:after {
    position: absolute;
    right: 27px;
  }
  /* line 622, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/aside.scss */
  .content__container__text {
    right: 120px;
    font-size: 15px;
  }
}

/*# sourceMappingURL=aside.css.map */