/* line 1, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.cardContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

@media (max-width: 637px) {
  /* line 12, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

/* line 20, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.card-top {
  display: none;
  margin-top: 8px;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: flex-start;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1250px) {
  /* line 35, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-top {
    font-size: 9px;
  }
}

@media (max-width: 637px) {
  /* line 41, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-top {
    margin: 0;
    font-size: 10px;
  }
}

/* line 47, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.card-top-left {
  display: none;
  margin-top: 8px;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1250px) {
  /* line 63, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-top-left {
    font-size: 9px;
    width: 100%;
  }
}

@media (max-width: 637px) {
  /* line 70, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-top-left {
    align-items: center;
    font-size: 10px;
    margin-top: 0;
  }
}

/* line 77, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.card-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 1250px) {
  /* line 86, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom-container {
    align-items: center;
  }
}

@media (max-width: 637px) {
  /* line 92, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom-container {
    height: 70%;
    width: 290px;
    align-items: flex-start;
  }
}

@media (max-width: 637px) {
  /* line 100, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom-container.four {
    width: 40%;
    height: 100%;
  }
}

@media (max-width: 637px) {
  /* line 107, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom-container.three {
    flex-direction: column-reverse;
    margin: 0 20px 0 20px;
  }
}

/* line 113, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.card-top-container {
  width: 100%;
}

@media (max-width: 637px) {
  /* line 118, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-top-container {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 637px) {
  /* line 125, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-top-container.four {
    width: 40%;
  }
}

@media (max-width: 637px) {
  /* line 131, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-top.two {
    margin-bottom: 10px;
  }
}

/* line 136, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.card-bottom {
  display: none;
  margin-bottom: 8px;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: flex-end;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1250px) {
  /* line 151, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom {
    width: 100%;
    align-items: flex-end;
    font-size: 9px;
  }
}

@media (max-width: 637px) {
  /* line 159, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom {
    margin: 0;
    font-size: 10px;
  }
}

@media (max-width: 637px) {
  /* line 166, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom.three {
    align-items: flex-start;
  }
}

@media (max-width: 1100px) {
  /* line 172, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  #password,
  #email {
    text-transform: lowercase;
    font-size: 11px;
  }
}

@media (max-width: 1250px) {
  /* line 180, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  #email {
    margin-left: 78px;
  }
}

@media (max-width: 1250px) {
  /* line 186, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  #password {
    margin-left: 114px;
  }
}

/* line 191, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.card-bottom-center {
  display: none;
  margin-bottom: 8px;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 637px) {
  /* line 207, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom-center {
    font-size: 10px;
    margin: 0;
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 637px) {
  /* line 216, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  #credentials {
    text-align: center;
  }
}

@media (max-width: 637px) {
  /* line 222, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  #aFrame {
    text-align: center;
  }
}

@media (max-width: 637px) {
  /* line 228, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  #interactiveDesign {
    width: 100px;
  }
}

/* line 233, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
#designedForBands {
  margin-top: 10px;
  white-space: normal;
}

@media (max-width: 637px) {
  /* line 239, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  #designedForBands {
    white-space: normal;
  }
}

/* line 244, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* line 252, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__inner {
  z-index: 2;
  top: 20px;
  left: -5px;
  position: relative;
  width: 550px;
  max-width: 800px;
  height: 620px;
  background: transparent;
}

/* line 262, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer .items__item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  box-shadow: 0 32px 40px -20px rgba(0, 0, 0, 0.25);
}

/* line 269, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer .items__item:after {
  content: attr(data-title);
  position: absolute;
  line-height: 20px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
}

/* line 281, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer .items__item:hover:after {
  visibility: visible;
  opacity: 1;
}

/* line 287, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(1) .items__item {
  top: 120px;
  left: 0px;
  width: 340px;
  height: 340px;
  background: #040c0e;
}

/* line 294, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(1) .items__item:after {
  top: -23px;
  left: 0;
  color: #040c0e;
}

/* line 300, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(2) .items__item {
  top: 360px;
  left: 280px;
  width: 210px;
  height: 200px;
  background: #a4978e;
}

/* line 307, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(2) .items__item:after {
  bottom: -23px;
  right: 0;
  color: #a4978e;
}

/* line 313, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(3) .items__item {
  top: 320px;
  left: 40px;
  width: 300px;
  height: 300px;
  background: #132226;
}

/* line 320, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(3) .items__item:after {
  bottom: -23px;
  left: 0;
  color: #132226;
}

/* line 326, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(4) .items__item {
  top: 10px;
  left: 280px;
  width: 270px;
  height: 480px;
  background: #525b56;
}

/* line 333, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(4) .items__item:after {
  top: -23px;
  right: 0;
  color: #3c433f;
}

/* line 339, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(5) .items__item {
  top: 210px;
  left: 180px;
  width: 200px;
  height: 200px;
  background: #be9063;
}

/* line 346, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(5) .items__item:after {
  top: -220px;
  font-weight: bold;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: auto;
  text-align: center;
  color: #a17143;
}

@media (max-width: 1250px) {
  /* line 362, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items {
    width: 100%;
    height: 100vh;
  }
  /* line 365, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__inner {
    top: 20px;
    left: 0;
    width: 550px;
    max-width: 800px;
    height: 620px;
    z-index: 0;
  }
  /* line 373, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(1) .items__item {
    top: 120px;
    left: 0px;
    width: 29vw;
    height: 340px;
  }
  /* line 379, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(2) .items__item {
    top: 360px;
    left: 280px;
    width: 16vw;
    height: 200px;
  }
  /* line 385, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(3) .items__item {
    top: 320px;
    left: 40px;
    width: 25vw;
    height: 300px;
  }
  /* line 391, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(4) .items__item {
    top: 10px;
    left: 280px;
    width: 22vw;
    height: 480px;
  }
  /* line 397, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(5) .items__item {
    top: 210px;
    left: 180px;
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 1100px) {
  /* line 407, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items {
    width: 100%;
    height: 100vh;
  }
  /* line 411, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__inner {
    top: 20px;
    left: 0;
    width: 550px;
    max-width: 800px;
    height: 620px;
  }
  /* line 418, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(1) .items__item {
    top: 120px;
    left: 0px;
    width: 302px;
    height: 340px;
  }
  /* line 424, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(2) .items__item {
    display: none;
  }
  /* line 427, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(3) .items__item {
    top: 293px;
    left: 40px;
    width: 240px;
    height: 300px;
  }
  /* line 433, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(4) .items__item {
    top: 20px;
    left: 280px;
    width: 255px;
    height: 450px;
  }
  /* line 439, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(5) .items__item {
    top: 210px;
    left: 180px;
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 637px) {
  /* line 449, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items {
    position: relative;
    top: 70px;
    width: 86%;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
  }
  /* line 457, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__inner {
    top: 0;
    left: 0;
    width: 100%;
    height: 620px;
  }
  /* line 463, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(1) .items__item {
    top: 270px;
    left: 0;
    width: 100%;
    height: 110px;
  }
  /* line 469, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(2) .items__item {
    display: none;
  }
  /* line 472, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(3) .items__item {
    top: 400px;
    left: 0;
    width: 100%;
    height: 110px;
  }
  /* line 478, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(4) .items__item {
    top: 140px;
    left: 0;
    width: 100%;
    height: 110px;
  }
  /* line 484, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(5) .items__item {
    top: 10px;
    left: 0;
    width: 100%;
    height: 110px;
  }
}

/*# sourceMappingURL=cards.css.map */