/* line 1, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.cardContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

@media (max-width: 637px) {
  /* line 12, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .cardContainer {
    flex-direction: row;
    align-items: center;
  }
}

/* line 18, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.card-top {
  display: none;
  margin-top: 8px;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: flex-start;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1250px) {
  /* line 33, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-top {
    font-size: 9px;
  }
}

@media (max-width: 637px) {
  /* line 39, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-top {
    margin: 0;
    font-size: 10px;
  }
}

/* line 45, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.card-top-left {
  display: none;
  margin-top: 8px;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1250px) {
  /* line 61, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-top-left {
    font-size: 9px;
    width: 100%;
  }
}

/* line 67, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.card-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 1250px) {
  /* line 76, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom-container {
    align-items: center;
  }
}

@media (max-width: 637px) {
  /* line 82, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom-container.four {
    width: 0;
    height: 100%;
  }
}

@media (max-width: 637px) {
  /* line 89, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom-container.three {
    flex-direction: column-reverse;
    margin: 0 20px 0 20px;
  }
}

@media (max-width: 637px) {
  /* line 96, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-top-container {
    height: 100%;
  }
}

/* line 101, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.card-bottom {
  display: none;
  margin-bottom: 8px;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: flex-end;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1250px) {
  /* line 116, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom {
    width: 100%;
    align-items: flex-end;
    font-size: 9px;
  }
}

@media (max-width: 637px) {
  /* line 124, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom {
    margin: 0;
    font-size: 10px;
  }
}

@media (max-width: 637px) {
  /* line 131, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom.three {
    align-items: flex-start;
  }
}

@media (max-width: 637px) {
  /* line 137, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  #password,
  #email {
    text-transform: lowercase;
    font-size: 11px;
  }
}

@media (max-width: 1250px) {
  /* line 145, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  #email {
    margin-left: 78px;
  }
}

@media (max-width: 1250px) {
  /* line 151, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  #password {
    margin-left: 114px;
  }
}

/* line 156, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.card-bottom-center {
  display: none;
  margin-bottom: 8px;
  flex-direction: column;
  width: 180px;
  height: auto;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1250px) {
  /* line 172, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .card-bottom-center {
    font-size: 9px;
    width: 15vw;
  }
}

@media (max-width: 637px) {
  /* line 179, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  #credentials {
    text-align: center;
  }
}

@media (max-width: 637px) {
  /* line 185, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  #aFrame {
    text-align: center;
  }
}

@media (max-width: 637px) {
  /* line 191, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  #interactiveDesign {
    width: 100px;
  }
}

/* line 196, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
#designedForBands {
  margin-top: 10px;
  white-space: normal;
}

@media (max-width: 637px) {
  /* line 202, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  #designedForBands {
    white-space: normal;
  }
}

/* line 207, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* line 215, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__inner {
  z-index: 2;
  top: 20px;
  left: -5px;
  position: relative;
  width: 550px;
  max-width: 800px;
  height: 620px;
  background: transparent;
}

/* line 225, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer .items__item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  box-shadow: 0 32px 40px -20px rgba(0, 0, 0, 0.25);
}

/* line 232, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer .items__item:after {
  content: attr(data-title);
  position: absolute;
  line-height: 20px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
}

/* line 244, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer .items__item:hover:after {
  visibility: visible;
  opacity: 1;
}

/* line 250, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(1) .items__item {
  top: 120px;
  left: 0px;
  width: 340px;
  height: 340px;
  background: #040c0e;
}

/* line 257, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(1) .items__item:after {
  top: -23px;
  left: 0;
  color: #040c0e;
}

/* line 263, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(2) .items__item {
  top: 360px;
  left: 280px;
  width: 210px;
  height: 200px;
  background: #a4978e;
}

/* line 270, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(2) .items__item:after {
  bottom: -23px;
  right: 0;
  color: #a4978e;
}

/* line 276, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(3) .items__item {
  top: 320px;
  left: 40px;
  width: 300px;
  height: 300px;
  background: #132226;
}

/* line 283, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(3) .items__item:after {
  bottom: -23px;
  left: 0;
  color: #132226;
}

/* line 289, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(4) .items__item {
  top: 10px;
  left: 280px;
  width: 270px;
  height: 480px;
  background: #525b56;
}

/* line 296, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(4) .items__item:after {
  top: -23px;
  right: 0;
  color: #3c433f;
}

/* line 302, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(5) .items__item {
  top: 210px;
  left: 180px;
  width: 200px;
  height: 200px;
  background: #be9063;
}

/* line 309, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
.items__layer:nth-child(5) .items__item:after {
  top: -220px;
  font-weight: bold;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: auto;
  text-align: center;
  color: #a17143;
}

@media (max-width: 1250px) {
  /* line 325, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items {
    width: 100%;
    height: 100vh;
  }
  /* line 328, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__inner {
    top: 20px;
    left: 0;
    width: 550px;
    max-width: 800px;
    height: 620px;
    z-index: 0;
  }
  /* line 336, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(1) .items__item {
    top: 120px;
    left: 0px;
    width: 29vw;
    height: 340px;
  }
  /* line 342, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(2) .items__item {
    top: 360px;
    left: 280px;
    width: 16vw;
    height: 200px;
  }
  /* line 348, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(3) .items__item {
    top: 320px;
    left: 40px;
    width: 25vw;
    height: 300px;
  }
  /* line 354, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(4) .items__item {
    top: 10px;
    left: 280px;
    width: 22vw;
    height: 480px;
  }
  /* line 360, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(5) .items__item {
    top: 210px;
    left: 180px;
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 1100px) {
  /* line 370, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items {
    width: 100%;
    height: 100vh;
  }
  /* line 374, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__inner {
    top: 20px;
    left: 0;
    width: 550px;
    max-width: 800px;
    height: 620px;
  }
  /* line 381, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(1) .items__item {
    top: 120px;
    left: 0px;
    width: 302px;
    height: 340px;
  }
  /* line 387, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(2) .items__item {
    display: none;
  }
  /* line 390, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(3) .items__item {
    top: 293px;
    left: 40px;
    width: 240px;
    height: 300px;
  }
  /* line 396, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(4) .items__item {
    top: 20px;
    left: 280px;
    width: 255px;
    height: 450px;
  }
  /* line 402, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(5) .items__item {
    top: 210px;
    left: 180px;
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 637px) {
  /* line 412, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items {
    width: 86%;
    left: 0;
    right: 0;
    margin: auto;
    height: 100vh;
  }
  /* line 418, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__inner {
    top: 20px;
    left: 0;
    width: 100%;
    height: 620px;
  }
  /* line 424, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(1) .items__item {
    top: 170px;
    left: 0;
    width: 100%;
    height: 130px;
  }
  /* line 430, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(2) .items__item {
    display: none;
  }
  /* line 433, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(3) .items__item {
    top: 470px;
    left: 0;
    width: 100%;
    height: 130px;
  }
  /* line 439, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(4) .items__item {
    top: 20px;
    left: 0;
    width: 100%;
    height: 130px;
  }
  /* line 445, ../../../../../Users/peterhochman/Documents/React/Portfolio/my-app/src/styles/scss/cards.scss */
  .items__layer:nth-child(5) .items__item {
    top: 320px;
    left: 0;
    width: 100%;
    height: 130px;
  }
}

/*# sourceMappingURL=cards.css.map */